.container {
  margin-top: 20px;
}

.app-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.main {
  margin: 2rem;
}
